{% extends "admin_master.html" %}

{% block content %}

<h2>New Company</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username_company" autocomplete="off" id="company_username" value="{{company_username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password_company" id="company_password" value="" autocomplete="off">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify_company" value="">
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email_company" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>

{% endblock %}