body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

/* subtitle */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.page_title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    text-decoration: none;
}

.menu_bar {
    font-size: 13px;
    color: gray;
    position: center;
    top: 10px;
    right: 10px;
}

.menu_item {
    color: #333;
    text-decoration: none;
}

.menu_item:hover {
    color: red;
    text-decoration: underline;
}

.account_bar {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.account_item {
    color: #333;
    text-decoration: none;
}

.account_item:hover {
    color: red;
    text-decoration: underline;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}


textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 16px;
}

input[type=text] {
    width: 150px;
    font-size: 16px;
    padding: 1px;
    font-family: monospace;
}

input[type=password] {
    width: 150px;
    font-size: 16px;
    padding: 1px;
    font-family: monospace;
}

.in_line_error {
    font-weight: bold;
    color: #DC143C;
}

.button {
    color: gray;
    text-decoration: none;
}

.button:visited {
    color: gray;
}

.button:hover {
    text-decoration: underline;
}


/* I need to sort these
**************************************** */ 
.post + .post {
    margin-top: 15px;
}

.post_heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post_title {
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.post_title:visisted {
    color: #333;
}

.post_date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post_content {
    margin-top: 5px;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}