<!DOCTYPE html>

<html>
  <head>
    <title>Admin page</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <div class="menu_area">
        <a class="menu_item" href="/admin/list">Registered Companies </a>
        |
        <a class="menu_item" href="/admin/new">Create new Company </a>
        | 
        <a class="menu_item" href="/admin/temp">Manage Company Administrators</a>
    </div>
    <div class="login_area">
       <a id="login_link" class="login_link" href="/logout">Log out</a>
    </div>
    <div id="content" style="top:30px;position:relative;">
         {% block content %}
         {% endblock %}
  </div>
  </body>
</html>