<!DOCTYPE html>

<html>
  <head>
    <title>Resource Sharing - Sign In</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />

  </head>

  <body>
  <div>
    <h2>Sign In</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" id="login_username" placeholder="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" id="login_password" placeholder="password" value="">
          </td>
        </tr>
      </table>

      <div id="error_invalid_credentials" class="error_invalid_credentials">
        {{error}}
      </div>

      <input type="submit" id="sign_in" value="Sign In">
    </form>
</divs>
  </body>

</html>
