<!DOCTYPE html>

<html>
  <head>
    <title>Resource Sharing - Sign In</title>
    <link type="text/css" rel="stylesheet" href="/static/general.css" />

  </head>

  <body>
  <div>
    <h2 class="page_title">Sign In</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" id="username" placeholder="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" id="password" placeholder="password" value="">
          </td>
        </tr>
      </table>

      <div id="error" class="in_line_error">
        {{error}}
      </div>

      <input type="submit" id="sign_in" class="button" value="Sign in">
    </form>
    </div>
  </body>

</html>
