<!DOCTYPE html>

<html>
  <head>
    <title>Admin page</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <div class="menu-area">
        <a class="menu-item" href="/admin/list">Registered Companies </a>
        |
        <a class="menu-item" href="/admin/new">Create new Company </a>
        | 
        <a class="menu-item" href="/admin/temp">Manage Company Administrators</a>
    </div>
    <div style="position:relative;top:30px;">  
    <h2>Welcome, {{username}}!</h2>
    <br>
    <br>
    <p> asta ar fi pagina adiminului</p>
    </div>
  </body>
</html>
